<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
	<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script> 
	<meta charset="ISO-8859-1"> 
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />


<title>Calculate Expense</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Expense Management Application</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/expenses/getAll}">My Expenses</a></li>	
					<li><a th:href="@{/expenses/calculate}">Calculate My Expense</a></li>	
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>			
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
<main role="main" class="container">
	<div class="starter-template">
			<div class="container">
			<div class="navbar-header">
			<br/><br/><br/>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<label>Start Date</label>
				<input type="text" placehoder="Start Date" id="startdate"/>
				<label>End Date</label>
				<input type="text" placehoder="End Date" id="enddate"/>				
				</ul>
			</div>
			
				
			</div>	
						
	</div>

</div>
</main>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

	
		

</body>
</html>